<%- include('./partials/head') %>

<!-- Content -->
<section class="intro">
  <article class="intro-text">
    <h1>Tekenmethodes</h1>
    <p>
      Welkom op onze pagina over Visual Thinking! Visual Thinking is een super toffe manier om informatie te begrijpen, te ordenen en te delen met anderen door middel van plaatjes in plaats van alleen maar woorden. Dit maakt het gemakkelijker om complexe ideeën te begrijpen en te delen met anderen. <br> <br>
      Op deze pagina vind je verschillende Visual Thinking tekenm die je kunt gebruiken om je creativiteit en productiviteit te vergroten. Of je nu een student bent, of gewoon geïnteresseerd bent in Visual Thinking, wij hebben de juiste tools en technieken voor jou. <br> <br>
      Hier vind je ook een heleboel tips en trucs voor het gebruik van Visual Thinking in je dagelijks leven en je studie. <br> <br>
      Dus waar wacht je nog op? Ontdek vandaag nog de kracht van Visual Thinking en maak je ideeën visueel!
    </p>
  </article>

</section>

<section class="categories-menu">
  <section class="dropdown">
    <button onclick="categoriesMenu()" class="category-dropdown">Dropdown</button>
    <section id="myDropdown" class="dropdown-content">
      <a href="#Onderzoeken-en-begrijpen">Onderzoeken en begrijpen</a>
      <a href="#Organiseren-en-plannen">Organiseren en plannen</a>
      <a href="#Leren-over-jezelf">Leren over jezelf en reflecteren</a>
      <a href="#Creatief-denken">Creatief denken</a>
      <a href="#Leren-over-anderen">Leren over anderen</a>
      <a href="#Communiceren-en-presenteren">Communiceren en presenteren</a>
    </section>
  </section>
</section>



<main>
  <article class="methods">
    <% if (methods && methods.length > 0) { %>
    <% methods.forEach((method, index) => { %>
    <section class="method-container" data-index="<%= index %>">
      <% if (method.template && method.template.url) { %>
      <img src="<%= method.template.url %>" alt="Voorbeeld van <%= method.title%>">
      <% } else { %>
      <img src="/assets/placeholder.jpg" alt="Placeholder Image">
      <% } %>
      <section class="methods-titles">
        <h2><%= method.title %></h2>
      </section>
    </section>
    <% }); %>
    <% } %>
  </article>
</main>

<section>
  <div class="load-more">
    <button class="load-more-button">Laad Meer</button>
  </div>
</section>
</body>

</html>

<%- include('./partials/foot') %>